<div class="header-mobile-trigger">
  <button class="burger-menu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="MobileNavDrawer">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </button>
</div>