<div id="MobileStickyCTA" class="mobile-sticky-cta">
  <div class="sticky-cta-content">
    <div class="sticky-info">
      <span class="sticky-title">{{ product.title | truncate: 25 }}</span>
      <span class="sticky-price" data-sticky-price>{{ product.selected_or_first_available_variant.price | money }}</span>
    </div>
    <button class="sticky-atc-btn" type="button" style="height: 50px; width: auto; padding: 0 2.5rem;">
      ADD TO CART
    </button>
  </div>
</div>

{% capture sticky_variants_json %}{{ product.variants | json }}{% endcapture %}
<div id="MobileStickyVariantsData" class="visually-hidden" aria-hidden="true">{{ sticky_variants_json | escape }}</div>