{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign money_price = price | money
-%}

<div class="price {%- if compare_at_price > price %} price--on-sale {% endif -%}">
  {%- if compare_at_price > price and available -%}
    <div class="price__sale">
      <span class="price-item price-item--sale">{{ money_price }}</span>
      <span class="price-item price-item--regular">{{ compare_at_price | money }}</span>
      <span class="badge-save">
        SAVE {{ compare_at_price | minus: price | money_without_trailing_zeros }}
      </span>
    </div>
  {%- else -%}
    <div class="price__regular">
      <span class="price-item price-item--regular">{{ money_price }}</span>
    </div>
  {%- endif -%}
</div>