<div class="price-row" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
  {% render 'price', product: product, use_variant: true %}
</div>

{% schema %}
{
  "name": "Product Price",
  "settings": []
}
{% endschema %}