<div class="product-vendor" {{ block.shopify_attributes }}>
  <a href="{{ product.vendor | url_for_vendor }}" class="product-vendor__link">
    {{ 'products.product.brand' | t }}: {{ product.vendor }}
  </a>
</div>

{% schema %}
{ "name": "Vendor" }
{% endschema %}