<div class="spacer-block" style="height: {{ block.settings.height }}px;" {{ block.shopify_attributes }}></div>

{% schema %}
{
  "name": "Spacer",
  "settings": [
    { "type": "range", "id": "height", "label": "Height", "min": 0, "max": 100, "step": 4, "default": 20 }
  ]
}
{% endschema %}